.footer {
    width: 100%;
    background-color: $footerColor;
    padding: 22px 0;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__info {

    .footer__copyright {
        color: $mainColor;
        margin-top: 5px;
    }
}

.footer__social {
    display: flex;

    .footer__link {
        text-decoration: none;
        color: $white;
        font-size: 35px;

        margin-right: 48px;

        transition: color .1s linear;

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            color: $mint;
        }
    }
}

// Адаптив

@media (max-width: 540px) {
    .footer__inner {
        flex-direction: column-reverse;
        text-align: center;
    }

    .footer__social {
        margin-bottom: 25px;
    }
}
