.header {
    width: 100%;
    height: 86px;
    background-color: rgba(255, 255, 255, .95);

    display: flex;
    align-items: center;

    position: absolute;
    z-index: 2;
}

.header.fixed {
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
    padding: 0;
    height: 60px;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;

    transform: translate3d(0, 0, 0);
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-weight: 400;
    font-size: 38px;
    color: $mainColor;
    text-transform: uppercase;

    span {
        color: $mint;
    }
}

.nav {
    font-size: 18px;
    display: flex;

    .nav__link {
      color: $mainColor;
      font-weight: 300;
      text-decoration: none;

      padding: 45px 15px 25px 15px;

      transition: color .1s linear, background-color .1s linear;

      &:hover {
        color: $white;
        background-color: $blood;
      }

      &--menu {
          display: block;
          position: relative;
      }
    }
}


.header__block {
    display: flex;
    align-items: center;
}

.header__basket {
    width: 100%;
    max-width: 29px;
    height: 25px;
    text-decoration: none;

    img {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}

.header__price {
    font-size: 24px;
    color: #9d9d9d;

    margin: 0 20px 0 10px;
}

.header__arrow {
    text-decoration: none;
}


// Drop Menu

.drop__menu {
    display: flex; 
    position: absolute;
    top: 100%;
    left: 41.5%;
    z-index: 100;
    background-color: $blood;

    display: none;

    .menu__logo {
        font-weight: 400;
        font-size: 38px;
        color: $white;
        text-transform: uppercase;
        text-align: center;

        border-bottom: 1px solid $rgbWhite;
        padding: 20px 71px 0 35px;

        span {
            color: $pink;
        }
    }

    .menu__img {
        padding: 53px 0 53px 73px;
    }

    .col_2 {
        font-size: 16px;
        line-height: 2;

        padding: 20px 39px 0 39px;
        border-left: 1px solid $rgbWhite;
        border-right: 1px solid $rgbWhite;

        .col__link {
            color: $pink;
            text-decoration: none;

            transition: text-decoration .1s linear;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.nav__helper:hover .drop__menu {
    display: flex;
}

// Меню бургер 

.nav-toggle {
    width: 30px;
    padding: 10px 0;

    position: absolute;
    top: 31px;
    right: 30px;
    z-index: 1;

    font-size: 0;
    color: transparent;

    border: 0;
    background: none;
    cursor: pointer;
    display: none;
}

.header.fixed .nav-toggle {
    top: 20px;
}

.header__inner.fixed .nav-toggle {
    top: 20px;
}

.nav-toggle:focus {
    outline: none;
}

.nav-toggle__item {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #06B5A9;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.nav-toggle.active .nav-toggle__item  {
    background: none;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
    content: "";
    width: 100%;
    height: 2px;

    background-color: #06B5A9;

    position: absolute;
    left: 0;
    z-index: 1;

    transition: transform .2s linear;
}

.nav-toggle.active .nav-toggle__item:before {
    transform-origin: left top;
    transform: rotate(45deg) translateX(-2px);
}

.nav-toggle.active .nav-toggle__item:after{
    transform-origin: left bottom;
    transform: rotate(-45deg) translateX(-3px);
}


.nav-toggle__item:before {
    top: -8px;
}

.nav-toggle__item:after {
    bottom: -8px;
}

// Адаптив

@media (max-width: 778px) {
    .nav {
        display: none;

        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;

        border-top: 1px solid #626262;

        background-color: rgba(255, 255, 255, 0.95);

        .nav__link {
            display: block;
            padding: 0;

            margin: 20px 0 20px 10px;

            &:hover {
                color: #626262;
                background: none;
            }
        }
    }

    .nav.active {
        display: block;
    }

    .nav-toggle {
        display: block;
    }

    .header__block {
        margin-right: 70px;
    }
}

@media (max-width: 450px) {
    .header__arrow {
        display: none;
    }

    .header__block {
        margin-right: 45px;
    }

    .header__logo {
        font-size: 30px;
    }

    .header__price {
        font-size: 20px;
    }

    .header__basket {
        width: 25px;
        height: 21px;
    }
}

