.levis {
    width: 100%;
    padding: 20px 0 63px 0;

    position: relative;
}

.levis__inner {
    display: flex;
    flex-direction: column;
}

.levis__logo {
    width: 100%;
    max-width: 378px;
    overflow: hidden;

    position: absolute;
    top: -16px;

    img {
        width: 100%;
    }
}

.main__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.levis__info {
    width: 100%;
    max-width: 550px;
    color: $black;

    margin-top: auto;

    .levis__title {
        font-size: 50px;
        font-weight: 700;
    }

    .levis__text {
        font-weight: 300;
        font-size: 14px;

        line-height: 1.4;

        margin: 10px 0 27px 0;
    }
}

.levis__block {
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    .levis__rate {
        font-size: 36px;
    }
}
    

.levis__btn {
    height: 48px;
    display: block;

    text-decoration: none;
    color: $white;
    background-color: $blood;
    border-radius: 3px;

    padding: 18px 21px 0 55px;

    position: relative;

    &:before {
        content: url("../img/levis/basket.png");
        display: block;
        position: absolute;
        left: 13px;
        bottom: 10px;
    }
}

.levis__preview {
    width: 100%;
    max-width: 497px;
    overflow: hidden;

    img {
        width: 100%;

        object-fit: cover;
    }
}

.levis__slider {
    width: 100%;
    color: $black;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-top: 104px;

    .levis__item {
        width: 100%;
        max-width: 184px;
        height: 204px;

        cursor: pointer;
        
        .item__img {
            width: 100%;
            height: 176px;
            overflow: hidden;

            border: 1px solid $mainColor;

            transition: border .1s linear;

            &:hover {
                border: 1px solid $blood;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .item__name {
            font-weight: 300;
            font-size: 16px;
            text-align: center;

            margin-top: 10px;
        }
    }
}

// Адаптив

@media (max-width: 1050px) {
    .levis {
        padding: 192px 0 63px 0;
    }
    
    .main__content {
        flex-wrap: wrap;

    }

    .levis__info {
        margin: 0 auto 30px auto;
    }

    .levis__preview {
        margin: 0 auto;
    }
}

@media (max-width: 780px) {
    .levis__logo {
        max-width: 270px;
        top: -12px;
    }
}

@media (max-width: 550px) {
    .levis__info {

        .levis__title {
            font-size: 30px;
            text-align: center;
        }
    }
}

@media (max-width: 470px) {
    .levis__block {

        .levis__rate {
            font-size: 28px;
        }
    }
}

@media (max-width: 405px) {
    .levis__slider {
        width: 100%;
        max-width: 184px;
        margin: 0 auto;

        .levis__item {
            margin: 10px 0;
        }
    }
}

@media (max-width: 390px) {
    .levis__block {
        flex-direction: column;

        .levis__rate {
            margin-bottom: 20px;
        }
    }
}

