// Шрифты
$mainFont:  'Kumbh Sans', sans-serif;
$plainFont: 'Josefin Slab', serif;

// Цвета 
$white: #fff;
$black: #000;
$mint: #06B5A9;
$blood: #D62132;
$mainColor: #626262;
$footerColor: #1B2330;
$pink: #FEC8CD;
$rgbWhite: rgba(255, 255, 255, .3);
